.welcome-page {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-image: url("../public/images/invitation/invitationBg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    background-color: #fff;
}